USE [master]
GO
/****** Object:  Database [MSDSHelper]    Script Date: 04/24/2015 18:07:19 ******/
CREATE DATABASE [MSDSHelper] ON  PRIMARY 
( NAME = N'MSDSHelper', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\MSDSHelper.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MSDSHelper_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\MSDSHelper_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSDSHelper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSDSHelper]
GO
/****** Object:  Table [dbo].[TbUser]    Script Date: 04/24/2015 18:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUser](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Permissao] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Element]    Script Date: 04/24/2015 18:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Element](
	[idElement] [int] IDENTITY(1,1) NOT NULL,
	[NomeProduto] [nvarchar](50) NULL,
	[FormulaMolecular] [nvarchar](50) NULL,
	[PesoMolecular] [int] NULL,
	[Unidade] [nvarchar](50) NULL,
	[Fabricante] [nvarchar](50) NULL,
	[Descricao] [nvarchar](50) NULL,
	[idDanger] [int] NULL,
 CONSTRAINT [PK_Element] PRIMARY KEY CLUSTERED 
(
	[idElement] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danger]    Script Date: 04/24/2015 18:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danger](
	[idDanger] [int] IDENTITY(1,1) NOT NULL,
	[Inalacao] [nvarchar](100) NULL,
	[ContatoOlhos] [nvarchar](100) NULL,
	[ContatoPele] [nvarchar](100) NULL,
	[Ingestao] [nvarchar](100) NULL,
	[idIncendio] [int] NULL,
	[Descricao] [nvarchar](100) NULL,
 CONSTRAINT [PK_Danger] PRIMARY KEY CLUSTERED 
(
	[idDanger] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CombateIncendio]    Script Date: 04/24/2015 18:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CombateIncendio](
	[idIncendio] [int] IDENTITY(1,1) NOT NULL,
	[MeioApropriado] [nvarchar](100) NULL,
	[PerigoEspecifico] [nvarchar](100) NULL,
 CONSTRAINT [PK_CombateIncendio] PRIMARY KEY CLUSTERED 
(
	[idIncendio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 04/24/2015 18:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[idUnidade] [int] IDENTITY(1,1) NOT NULL,
	[Unidade] [nvarchar](50) NULL,
	[Sigla] [nvarchar](10) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[idUnidade] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
